##############################
## Folders                  ##
##############################
.vs
x64
 
##############################
## Netbeans conf            ##
##############################
*.user